{% extends 'base.html.twig' %}

{% block title %}{{ titre | upper }}{% endblock %}

{% block body %}
  {% include "user/commun/navbar.html.twig" %}
    <h1>Bienvenu {{ user | upper }}</h1>
    <section class="col-sm-10 col-md-8">
      <div>
        <ul>
          <li>  {{ lang }}</li>
          <li>{{ ip }}</li>
          <li> {{ nav }}</li>
        </ul>
      </div>
    </section>
    <div class="clearfix visible-sm"></div>
    <div class="col-md-2">	
      <div class="row">
        <aside class="col-md-12">Aside 3</aside>
        <aside class="col-md-12">Aside 4</aside>
      </div>
    </div>
  </div>
  {% include "user/commun/footer.html.twig" %}
{% endblock %}
