<header class="header">
  <h1 class="sr-only">
    <a class="navbar-brand" href="{{ path('public-home') }}">Mediatheque</a>
  </h1>

  <nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="container mt-4 mb-3">
      <a class="navbar-brand mr-4 pr-2" href="{{ path('public-home') }}">
        {{ "Mediatheque" }}
      </a>
      <div class="collapse navbar-collapse" id="header-menu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-3">
            <a class="nav-link" href="{{ path('login') }}"> Connexion </a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="{{ path('public-presentation') }}">
              Présentation
            </a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="{{ path('calendar') }}">
              Accès Calendrier
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
